<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

  <!-- Flash messages -->
  <%- messages() %>

  <% if (locals.errors) { %>
    <ul class="notice">
  <% locals.errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }); %>
    </ul>
  <% } %>


  <section class="account-register-container">

    <form action="/account/register" method="POST" class="register-form">

      <label for="account_firstname">First name</label>
      <input
        type="text"
        id="account_firstname"
        name="account_firstname"
        required
        value="<%= locals.account_firstname %>"
      />

      <label for="account_lastname">Last name</label>
      <input
        type="text"
        id="account_lastname"
        name="account_lastname"
        required
        value="<%= locals.account_lastname %>"
      />

      <label for="account_email">Email address</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        required
        value="<%= locals.account_email %>"
      />

      <label for="account_password">Password</label>
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      />
      <p class="hint">Password must be at least 12 characters and include 1 uppercase letter, 1 number, and 1 special character.</p>

      <button type="submit" class="register-btn">Register</button>
    </form>

  </section>
<script src="/js/script.js"></script>
